.form {
  --form-contents-padding: 20px;
  display: grid;
  grid-gap: 20px;
}

.radioSelectGroup {
  background: #eaeaea;
  padding: 10px;
  border-radius: 4px;
}

.customRadioSelect {
  border: 3px solid red;
  margin-right: 10px;
}

.formControls {
  --form-controls-background: #eaeaea;
  --form-controls-padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: 200px;
  }

  button:first-child {
    background: deepskyblue;
    color: #fff;
  }

  button:nth-child(2) {
    background: none;
    text-decoration: underline;
  }
}
