@import "../styles/form/theme";

.formItem {
  display: flex;
  flex-direction: var(--form-flex-flow);
}

.formItemGroup {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.input {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  min-height: var(--input-height);
  padding: 0 var(--input-padding);
  width: var(--input-width);
}

.input:active,
.input:focus {
  border: var(--input-border-focus);
}

.input:invalid {
  border: var(--input-border-invalid);
}

.label {
  padding: var(--label-padding);
}

.errorMessage {
  color: var(--error-message-colour);
}

.radioOrCheckButtonGroup {
  align-items: var(--radio-group-align);
  display: flex;
  flex-flow: var(--radio-group-flex-flow);
  justify-content: var(--radio-group-justify);
  width: var(--radio-group-width);
}

.radioOrCheckButtonLabel {
  margin: 0;
  padding: 0 var(--input-padding);
}
