.formContents {
  background: var(--form-contents-background);
  padding: var(--form-contents-padding);
}

.formControls {
  background: var(--form-controls-background);
  padding: var(--form-controls-padding);
}
